.business-head {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.busi-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
  
.busi-content {
    text-align: center;
    color: white;
    z-index: 1;
    padding: 20px;
    position: relative;
    top: 20vh;
}
  
.busi-content h1 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
  
.text-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

  
.text-cont span {
    position: relative;
    padding: 5px 0px;
}